<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <h1 class="display-2">Zamówienie #<%= order.id %></h1>
            </div>
            <div class="row">
                <div class="col">
                    <p class="lead">
                        Suma całkowita: <strong><%= order.sum %> zł</strong>
                    </p>
                    <p class="lead">
                        Nazwa użytkownika: <strong><%= user.username %></strong>
                    </p>
                    <p class="lead" style="margin: 5% 0px;">Status:
                        <strong>
                            <span class="alert alert-dark" role="alert">
                                <%= order.status %>
                            </span>
                        </strong>
                    </p>
                    <form action="/admin/changeOrderStatus/<%= order.id %>" method="POST" style="margin: 0 40% 0 0 ;">
                        <select class="form-select" name="new_status" aria-label="Zmiana statusu">
                            <option selected value=-1>Zmień status</option>
                            <% for(status of order_status) { %>
                            <option value=<%= status.id %>><%= status.description %></option>
                            <% } %>
                        </select>
                        <button type="submit" class="btn btn-secondary" style="margin-top: 5%;">Zmień</button>
                    </form>
                </div>
                <div class="col">
                    <div class="list-group" style="margin: 1em 5em">
                      <% for(product of products) { %>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex w-100 justify-content-between">
                                      <a href="/product/<%= product.product_id %>" role="button" tabindex="0">
                                        <h5 class="mb-1"><%= product.name %></h5>
                                      </a>

                                    </div>
                                    <div class="row">
                                        <dd class="col-sm-9"><%= product.size %></dd>
                                    </div>
                                    <div class="row">
                                        <dd class="col-sm-9"><%= product.colour %></dd>
                                        <div class="col">
                                          <p class="text-end">Ilość: <%= product.amount %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <dd class="col-sm-9"><%= product.category %></dd>
                                        <div class="col">
                                            <p class="text-end">Cena: <%= product.price %> zł</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% } %>
                    </div>
                </div>
            </div>

            <%- include('templates/end'); %>