<%- include('templates/head'); %>
    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <h1 class="display-2" style="text-align: center;">Zamówienia</h1>
            </div>

            <div class="list-group" style="margin: 1em 5em">
              <% for(i of orders) {%>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="row">
                      <div class="col">
                          <div class="row">
                              <div class="d-flex w-100 justify-content-between">
                                  <a role="button" href="/admin/order/<%= i.id %>" tabindex="0">
                                      <h5 class="mb-1">Zamówienie #<%= i.id %></h5>
                                  </a>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <div class="row align-items-end">
                                      <div class="col">
                                          <p class="fw text-end">Suma: <%= i.sum %> zł</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                          <p class="fw-bold text-end">
                                              <%= i.status %>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <% } %>
            </div>
        </div>


        <%- include('templates/end'); %>